.preview-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option-button {
  background-color: #e7e7e7;
  color: #333;
  text-align: left;
  width: 95%;
  padding: 15px 0px;
  margin-top: 10px;
}

.option-button:hover {
  background-color: #ddd;
}

.option-icon {
  margin-left: 20px;
  margin-right: 20px;
}