.add-container {
  width: 100%;
  height: calc(100vh - 72px);

  display: flex;
  flex-direction: row;
}

.add-container-left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.add-container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.add-container-left-inner {
  flex: 1;
  display: flex;
}