/* SEARCH CONTAINER */

.appTable__container {
  padding: 20px;
  height: 100%;

  border-radius: 10px;
  box-shadow: 0px 0px 12px #999;
}

.appTable__scrollContainer {
  overflow: auto;
  
  flex-grow: 1;
  width: 100%;

  border: 2px solid #bbbbbb;
}

.appTable__containerFull {
  display: flex;
  flex-direction: column;

  padding: 20px;
  height: 100%;

  border-radius: 10px;
  box-shadow: 0px 0px 12px #999;
}

/* SELECT CONTAINER */

.appTable__selectScrollContainer {
  overflow: auto;
  
  flex-grow: 1;
  width: 100%;

  border: 2px solid #bbbbbb;
}