/* SEARCH CONTAINER */

.appTable__container {
  display: flex;
  flex-direction: column;
  position: relative;

  flex-grow: 1;
  flex-shrink: 1;

  padding: 20px;
  width: calc(100% - 40px);

  border-radius: 10px;
  box-shadow: var(--shadow);
}

.appTable__scrollContainer, .appTable__selectScrollContainer {
  position: absolute;
  overflow: auto;

  top: 60px;
  bottom: 20px;
  left: 20px;
  right: 20px;

  border: var(--lightgray-border);
}

/* SELECT CONTAINER */

@media only screen and (max-width: 900px) {
  .appTable__container {
    display: flex;
    flex-direction: column;
    position: relative;
  
    flex-grow: 1;
    flex-shrink: 1;
  
    padding: 0px 2px;
    width: calc(100% - 4px);
  
    border-radius: 0px;
    box-shadow: none;

    margin: 0;
/* 
    transition-property: transform;
    transition: 200ms ease-in-out; */
  }

  .appTable__scrollContainer, .appTable__selectScrollContainer {
    position: absolute;
    overflow: auto;
  
    top: 40px;
    bottom: 5px;
    left: 5px;
    right: 5px;
  
    border: var(--lightgray-border);
  }
}