/* SEARCH CONTAINER */

.appTable__container {
  display: flex;
  flex-direction: column;
  position: relative;

  flex-grow: 1;
  flex-shrink: 1;

  padding: 20px;
  width: calc(100% - 40px);

  border-radius: 10px;
  box-shadow: var(--shadow);
}

.appTable__scrollContainer, .appTable__selectScrollContainer {
  position: absolute;
  overflow: auto;

  top: 60px;
  bottom: 20px;
  left: 20px;
  right: 20px;

  border: var(--lightgray-border);
}

/* SELECT CONTAINER */

@media only screen and (max-width: 900px) {
  .appTable__container {
    display: flex;
    flex-direction: column;
    position: relative;
  
    flex-grow: 1;
    flex-shrink: 1;
  
    padding: 0;
    width: 100%;
  
    border-radius: 0px;
    box-shadow: none;

    margin: 0;
  }

  .appTable__container-smaller {
    display: flex;
    flex-direction: column;
    position: relative;
  
    flex-grow: 0.5;
    flex-shrink: 0.5;
  
    width: 100%;
    margin: 0;
  }

  .appTable__container-smallest {
    display: flex;
    flex-direction: column;
    position: relative;
  
    height: 25%;
  
    width: 100%;
    margin: 0;
  }

  .appTable__scrollContainer, .appTable__selectScrollContainer {
    position: absolute;
    overflow: auto;
    
    top: 40px;
    bottom: 0px;
    left: 10px;
    right: 10px;
  
    border: var(--lightgray-border);
  }

  .appTable__scrollContainer-no-title {
    position: absolute;
    overflow: auto;
    
    top: 0px;
    bottom: 0px;
    left: 10px;
    right: 10px;
  
    border: var(--lightgray-border);
  }
}