.lecturebox {
  margin: 0 auto;
  max-height: 100px;
  
  font-size: larger;
  font-weight: normal;

  background-color: #fff;
  padding: 5px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  line-height: 1.4;
  transition : 193ms;
}

.lecture_name:hover {
  transition : 193ms;
  color: #00a3cc;
}

.lecturebox:hover {
  transition : 193ms;
  background-color: #ddd;
}

.lecturebox__table_in_table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  border-collapse: collapse;
}

.lecturebox__table_in_table td {
  text-align: left;
}

.text_left {
  float: left;
}

.text_right {
  float: right;
}