* {
  margin: 0 auto;
}

.table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.table_borderless {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.table__container, .table__sel_subjects, .table__button {
  font-size: 18px;
}

.table__container {
  border-radius: 10px;
  border: 2px solid #bbbbbb;
  background-color: #d8ebf2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.table__sel_subjects {
  border-radius: 10px;
  border: 2px solid #bbbbbb;
  background-color: #d8def2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.table__scroll_container {
  overflow: auto;
  border: 2px solid #bbbbbb;
  flex-grow: 1;
  width: 100%;
  max-height: calc(60vh - 64px);
}

.table__sel_scroll_container {
  overflow: auto;
  border: 2px solid #bbbbbb;
  flex-grow: 1;
  width: 100%;
  max-height: calc(78vh - 41px);
}