* {
  margin: 0 auto;
  text-align: center;
}

.timetable__container {
  border-radius: 10px;

  padding: 20px;
  height: 100%;
  width: calc(100% - 40px);

  flex-grow: 1;
  flex-shrink: 1;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.timetable__table {
  box-sizing: border-box;
  
  width: 100%;

  border-collapse: collapse;
}

.timetable__row {
  box-sizing: border-box;

  border: 1px solid #cccccc;
  height: 6vh;
}

.timetable__item {
  box-sizing: border-box;

  border: 1px solid #cccccc;
  width: 18.5%;
}

.timetable__timeslot {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  color: #777;
  font-weight: 500;
  font-size: small;
  vertical-align: top;
  width: 7.5%;
}

.timetable__subject {
  white-space: pre-wrap;

  cursor: default;
  color: #fff;

  border-radius: 5px;

  font-weight: 300;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 18.5%;
  overflow: hidden;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  transition : 100ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  overflow: auto;
}

.timetable__subject span {
  width: 100%;
  text-align: left;
  word-break: normal;

  overflow: hidden;
  text-overflow: ellipsis;
}