* {
  margin: 0 auto;
  text-align: center;
}

.timetable__container {
  border-radius: 10px;

  padding: 20px;
  height: 100%;

  box-shadow: 0px 0px 12px #999;
}

.timetable__table {
  width: 100%;

  border: 2px solid #cccccc;
  border-collapse: collapse;
}

.timetable__row {
  border: 2px solid #cccccc;
  height: 6vh;
}

.timetable__item {
  border: 2px solid #cccccc;
}

.timetable__timeslot {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  width: 10%;
}

.timetable__subject {
  color: #fff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  overflow: hidden;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
}