.scenario-summary-container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  flex-shrink: 1;

  margin: 10px 10px;
}

.scenario-summary-row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.summary-table {
  border-collapse: collapse;
  width: 85%;
}

.table-key {
  width: 35%;
  text-align: left;
}

.table-value {
  width: 65%;
  text-align: center;
}

.arrow-button {
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

.arrow-button:hover {
  background-color: #eee;
  transition: 190ms;
}

.arrow-button:active {
  background-color: #ddd;
}

.priority {
  box-sizing: border-box;
  font-size: large;
  font-weight: 500;
  background-color: #eee;
  color: #fff;
  margin: 3px 7px;
  padding: 7px;
  border-radius: 7px;

  transition: 200ms;
}

.item-square {
  font-size: large;
  background-color: #f0f0f0;
  margin: 3px 7px;
  padding: 7px;
  border-radius: 7px;
}

.item-square-key {
  font-size: large;
  background-color: #eaeaea;
  margin: 3px 7px;
  padding: 7px;
  border-radius: 7px;
}