.time-warning-box, .empty-warning-box, .count-warning-box, .morning-warning-box, .lunch-warning-box, .space-warning-box {
  text-align: left;
  padding: 4px;
  border: 3px solid #ffa20b;
  color: #ffa20b;
  border-radius: 10px;
  font-weight: 600;
  font-size: medium;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
}

.empty-warning-box {
  border: 3px solid #3a8176;
  color: #3a8176;
}

.count-warning-box {
  border: 3px solid #ff810b;
  color: #ff810b;
}

.lunch-warning-box {
  border: 3px solid #d66767;
  color: #d66767;
}

.morning-warning-box {
  border: 3px solid #53af62;
  color: #53af62;
}

.space-warning-box {
  border: 3px solid #af538c;
  color: #af538c;
}

.filled-time-warning-box, .filled-empty-warning-box, .filled-count-warning-box,
   .filled-morning-warning-box, .filled-lunch-warning-box, .filled-space-warning-box {
  text-align: center;
  padding: 7px;
  background-color: #ffa20b;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: medium;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
}

.filled-empty-warning-box {
  background-color: #3a8176;
}

.filled-count-warning-box {
  background-color: #ff810b;
}

.filled-lunch-warning-box {
  background-color: #d66767;
}

.filled-morning-warning-box {
  background-color: #53af62;
}

.filled-space-warning-box {
  background-color: #af538c;
}


@media only screen and (max-width: 900px) {
  .filled-time-warning-box, .filled-empty-warning-box, .filled-count-warning-box,
   .filled-morning-warning-box, .filled-lunch-warning-box, .filled-space-warning-box {
    font-size: small;
  }
  .time-warning-box, .empty-warning-box, .count-warning-box, .morning-warning-box, .lunch-warning-box, .space-warning-box {
    font-size: small;
  }
}