.time-warning-box, .empty-warning-box, .count-warning-box, .morning-warning-box, .lunch-warning-box, .space-warning-box {
  text-align: left;
  padding: 4px;
  border: 3px solid #ffa20b;
  color: #ffa20b;
  border-radius: 10px;
  font-weight: 600;
  font-size: medium;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  transition: 200ms;
  transition-delay: 0.1s;
}

.empty-warning-box {
  border: 3px solid #3a8176;
  color: #3a8176;
}

.count-warning-box {
  border: 3px solid #ff810b;
  color: #ff810b;
}

.lunch-warning-box {
  border: 3px solid #d66767;
  color: #d66767;
}

.morning-warning-box {
  border: 3px solid #53af62;
  color: #53af62;
}

.space-warning-box {
  border: 3px solid #af538c;
  color: #af538c;
}