@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/* This CSS file defines the universal styles that are used for all components of this app */

* {
  margin: 0 auto;
  font-family: 'Pretendard Variable';
}

:root {
  /* Shadows and Borders */
  --lightgray-border: 1px solid #cccccc;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  /* Font Weights */
  --light-weight-font: 300;
  --regular-weight-font: 400;
  --bold-weight-font: 600;
  --extrabold-weight-font: 700;
  --heavy-weight-font: 800;

  /* Font Sizes */
  --middle-size-font: 25px;
  --small-size-font: 20px;
  --tiny-size-font: 15px;

  /* Default Margin and Paddings */
  --short-margin: 5px;
  --default-margin: 10px;
  --long-margin: 15px;

}

::-webkit-scrollbar {
  width: 0.5em;
}
 
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 10px;
}

/* Title Font Styles */
.large-title, .large-title-hoverable {
  font-size: x-large;
  font-weight: var(--bold-weight-font);
  margin-bottom: var(--default-margin);
}

.large-title-hoverable:hover {
  transition : 193ms;
  font-weight: var(--extrabold-weight-font);
  color: #00a3cc;
  cursor: pointer;
}

.medium-title, .medium-title-hoverable {
  font-size: large;
  font-weight: var(--bold-weight-font);
  margin-bottom: var(--default-margin);
}

.medium-title-hoverable:hover {
  transition : 193ms;
  font-weight: var(--extrabold-weight-font);
  color: #00a3cc;
  cursor: pointer;
}

.small-title {
  font-size: medium;
  font-weight: var(--extrabold-weight-font);
  margin-bottom: var(--default-margin);
}

.x-small-title {
  font-size: small;
  font-weight: var(--extrabold-weight-font);
  margin-bottom: var(--default-margin);
}

/* Regular Text Font Styles */

.x-large-text {
  font-size: xx-large;
  font-weight: var(--regular-weight-font);
}

.large-text {
  font-size: x-large;
  font-weight: var(--regular-weight-font);
}

.medium-text {
  font-size: large;
  font-weight: var(--regular-weight-font);
}

.small-text {
  font-size: medium;
  font-weight: var(--regular-weight-font);
}

.x-small-text {
  font-size: small;
  font-weight: var(--regular-weight-font);
}


.app {
  position: relative;
  width: 100%;
}

.app-header-container {
  position: relative;

  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.app-header {
  position: absolute;

  left: 3%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.app-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header-logo{
  margin-right: 40px;
  height: 60%;
  width: auto;
}

.links {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: var(--bold-weight-font);
  padding: 10px;
  margin-right: 15px;
}

.links:hover {
  transition: 400ms;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.links:active {
  background-color: #e6e6e6;
}

.link-current {
  transition: 400ms;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: var(--bold-weight-font);
  padding: 10px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}



/* Containers */
.app-main-container {
  display: flex;
  flex-direction: row;

  margin-top: 3vh;
  height: calc(100vh - 140px);
}

.app-parent-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  width: 30%;
}

.app-creation-options {
  text-align: center;
  box-shadow: var(--shadow);
  padding: 20px;
  width: calc(100% - 40px);
  border-radius: 10px;
  margin-bottom: 5%;
  white-space: pre-wrap;
}


/* OTHER STYLES */

.input-1 {
  text-align: left;
  font-weight: var(--regular-weight-font);
  font-size: large;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
  flex-grow: 1;
}

.button-9 {
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 12px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 40px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.button-0 {
  font-weight: 400;
  font-size: 100%;
  color: #fff;
  background-color: #0066CC;
  padding: 7px 19px;
  border: solid #0066cc 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 193ms;
  transform: translateY(0);
  align-items: center;
  cursor: pointer;
  display: inline-block;
}

.button-0-larger {
  font-size: 130%;
}
  
.button-0:hover{
  transition : 193ms;
  transform : translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.button-0:disabled{
  background-color: #fff;
  color: #747474;
  border: solid 2px #747474;
}

.button-0:disabled:hover{
  background-color: #d6d6d6;
  color: #747474;
  border: solid 2px #747474;
}

.button-1 {
  font-weight: 400;
  font-size: 100%;
  color: #fff;
  background-color: #00cca7;
  padding: 7px 19px;
  border: solid #00cca7 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 193ms;
  transform: translateY(0);
  align-items: center;
  cursor: pointer;
  display: inline-block;
}
  
.button-1:hover{
  transition : 193ms;
  transform : translateY(-0px);
  background-color: #fff;
  color: #00cca7;
  border: solid 2px #00cca7;
}

.button-2 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 30px;
  border: 2px solid #aaa;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 1px;
  transition : 163ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.button-2:hover{
  transition : 163ms;
  background-color: #e6e6e6;
  color: #000000;
}

.button-tiny {
  font-weight: 400;
  font-size: 100%;
  color: #fff;
  background-color: #00a3cc;
  border: solid #00a3cc 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 193ms;
  transform: translateY(0);
  display: inline-block;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.button-tiny:hover {
  transition : 50ms;
  background-color: #fff;
  color: #00a3cc;
  border: solid 2px #00a3cc;
}

.button-tiny-2 {
  font-weight: 400;
  font-size: 100%;
  color: #fff;
  background-color: #00cca3;
  border: solid #00cca3 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 193ms;
  transform: translateY(0);
  display: inline-block;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.button-tiny-2:hover {
  transition : 50ms;
  background-color: #fff;
  color: #00cca3;
  border: solid 2px #00cca3;
}

.button-tiny-3 {
  font-weight: 400;
  font-size: 100%;
  color: #fff;
  background-color: #0066cc;
  border: solid #0066cc 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 193ms;
  transform: translateY(0);
  display: inline-block;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.button-tiny-3:hover {
  transition : 50ms;
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.label-1 {
  font-size: 20px;
}

.checkbox-1 {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}

.credit {
  background-color: #eaeaea;
  padding: 3px;
  border-radius: 4px;
}

.mobile-menu-link:hover {
  transition: 400ms;
  border-radius: 10px;
  background-color: #eee;
}