@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/* This CSS file defines the universal styles that are used for all components of this app */

* {
  margin: 0;
  font-family: 'Pretendard Variable';
}

:root {
  /* Shadows and Borders */
  --lightgray-border: 1px solid #cccccc;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  /* Font Weights */
  --light-weight-font: 300;
  --regular-weight-font: 400;
  --bold-weight-font: 600;
  --extrabold-weight-font: 700;
  --heavy-weight-font: 800;

  /* Font Sizes */
  --middle-size-font: 25px;
  --small-size-font: 20px;
  --tiny-size-font: 15px;

  /* Default Margin and Paddings */
  --short-margin: 5px;
  --default-margin: 10px;
  --long-margin: 15px;

}

::-webkit-scrollbar {
  width: 0.5em;
}
 
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 10px;
}
