@media only screen and (max-width: 900px) {
  /* 768px */
  * {
    
  }

  .app__mainContainer {
    display: flex;
    flex-direction: column;
  
    margin-top: 3vh;
    height: 83vh;
  }

  .for_testing {
    display: none;
  }

  .app__header {
    width: 90%;
  }

  .app__header_links {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .app__parentContainer {
    width: 90%;
  }

  .timetable__container, .appTable__container {
    height: 500px;
    margin-bottom: 5%;
  }

  .link_current, .links {
    font-size: calc(10vw / 2.2);
    margin-right: 5px;
    padding: calc(10vw / 4);
  }

  .app_header_logo{
    margin-right: 10px;
    height: calc(10vw / 1.4);
    width: auto;
  }

  .button-0 {
    padding: 10px;
  }

  .button-0-larger {
    font-size: 100%;
  }

}