.prioritybox {
  margin: 0 auto;
  
  font-size: large;
  font-weight: normal;

  background-color: #fff;
  padding: 5px;
  
  border-bottom: 1px solid lightgray;
  line-height: 1.4;
  transition : 193ms;

  display: flex;
  flex-direction: row;
}

.prioritybox:hover {
  background-color: #f7f7f7;
}

.prioritybox-table {
  width: 100%;
}

.priority-info {
  width: 75%;
}

.schedule-timeslot {
  margin: 5px 0px;
  text-align: left;
  white-space: pre-wrap;
}

@media only screen and (max-width: 900px) {
  .prioritybox {
    font-size: small;
  }
}