.lecturebox {
  margin: 0 auto;
  max-height: 100px;
  
  font-size: large;
  font-weight: normal;

  background-color: #fff;
  padding: 5px;
  
  border-bottom: 1px solid lightgray;
  line-height: 1.4;
  transition : 193ms;
}

.subjectbox {
  margin: 0 auto;
  max-height: 100px;
  
  font-size: large;
  font-weight: normal;

  background-color: #fff;
  padding: 5px;
  
  border-bottom: 1px solid lightgray;
  line-height: 1.4;
  transition : 193ms;
}

.clicked-lecturebox {
  margin: 0 auto;
  max-height: 100px;
  
  font-size: large;
  font-weight: normal;

  background-color: #76d1e8;
  padding: 5px;
  
  border-bottom: 1px solid lightgray;
  line-height: 1.4;
  transition : 193ms;
}

.lecturebox:hover {
  transition : 193ms;
  background-color: #ddd;
}

.lecturebox-table-in-table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  border-collapse: collapse;
}

.lecturebox-table-in-table td {
  text-align: left;
}

.text_left {
  float: left;
}

.text_right {
  float: right;
}

@media only screen and (max-width: 900px) {
  .subjectbox {
    margin: 0 auto;
    max-height: 100px;
    
    font-size: medium;
    font-weight: normal;
  
    background-color: #fff;
    padding: 3px;
    
    border-bottom: 1px solid lightgray;
    line-height: 1.2;
    transition : 193ms;
  }

  .clicked-lecturebox {
    margin: 0 auto;
    max-height: 100px;
    
    font-size: medium;
    font-weight: normal;
  
    background-color: #76d1e8;
    padding: 3px;
    
    border-bottom: 1px solid lightgray;
    line-height: 1.2;
    transition : 193ms;
  }

  .lecturebox {
    margin: 0 auto;
    height: 80px;
    
    font-size: medium;
    font-weight: normal;
  
    background-color: rgba(255, 255, 255, 0.0);
    /* backdrop-filter: blur(1px); */
    padding: 3px;
    
    border-bottom: 1px solid lightgray;
    line-height: 1.4;
    transition : 193ms;
  }

  .lecturebox:hover {
    transition : 193ms;
    background-color: rgba(0, 0, 0, 0.2);
  }
}