.search-result-box {
  flex: 1;
  margin-top: 0;

  display: flex;
  flex-direction: column;
}

.search-result-container {
  position: relative;

  border-radius: 7px;

  display: flex;
  flex-direction: column;

  margin-top: 12px;

  flex: 1;
  border: var(--lightgray-border);
}

.search-result-scrollable {
  position: absolute;

  border-radius: 7px;


  overflow: auto;
  max-height: 100%;
  width: 100%;
}