.tooltip {
  position: absolute;
  box-sizing: border-box;

  background-color: white;
  padding: 10px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  font-weight: 600;
  white-space: pre-wrap;

  text-align: left;
}